@{
    ViewData["Title"] = "New Employee Form";
}
@model DetectiveAgency.Models.Employee

<h2>New Employee Form</h2>
<form asp-action="Index" method="post" style="background-color: gray; padding: 10px; border-radius: 5px;">
    <div>
        <label asp-for="Id" class="col-md-3">ID:</label>
        <input asp-for="Id" class="col-md-6" />
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Name" class="col-md-3">Name:</label>
        <input asp-for="Name" class="col-md-6" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Hours" class="col-md-3">Hours:</label>
        <input asp-for="Hours" class="col-md-6" />
        <span asp-validation-for="Hours" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Rate" class="col-md-3">Rate:</label>
        <input asp-for="Rate" class="col-md-6" />
        <span asp-validation-for="Rate" class="text-danger"></span>
    </div>

    <div>
        <label class="col-md-3">Weekly Gross</label>
        <input value="@ViewBag.Salary.ToString("C2")" readonly class="col-md-6" />
    </div>

    <div>
        <button asp-controller="Home" asp-action="CalcPay" type="submit">Calculate Gross Pay</button>
        <button asp-controller="Home" asp-action="Index">Clear</button>
    </div>
</form>
